
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0C002B;
}

#mastermind-header {
    display: flex;
    width: 100%;
    min-height: 3em;
    background-color: #FF005A;
    color: #0C002B;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    font-family: 'Roboto Mono', monospace;
}

#mastermind-header>*{
    padding: 0 20px;
}

#mastermind-header>nav>.navbar-link {
    color: #ffffff;
}

#mastermind-header>nav>.navbar-link:hover {
    color: #00FFBC;
}

#menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

#menu>article {
    width: 300px;
    height: auto;
    background-color: #0C002B;
    border: solid 1px #FF005A;
    color: #ffffff;
    border-radius: 0.2em;
    margin-top: 5em;
    padding: 1em;
    font-family: 'Roboto Mono', monospace;
}

#menu>article:hover {
    background-color: #00001E;
    border-color: #00FFBC;
}

#menu>article:hover a {
    color: #00FFBC;
}

a {
    font-family: 'Roboto Mono', monospace;
    font-size: small;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    color:#FF005A;
}

#mastermind {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    /* width: 100%; */
    /* color: black */
}

#mastermind>h1 {
    /* border: solid 1px white; */
    margin: 5em;
    color: #ffffff;
}

#mastermind>article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 1px #FF005A;
    width: 50%;
    /* height: 300px; */
    margin-top: 5em;
    /* padding: 1em; */
    font-family: 'Roboto Mono', monospace;
}

#mastermind>article>* {
    /* border: solid 1px white; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin: 1em; */
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;
}

#mastermind>article>h2 {
    /* border: solid 1px black; */
    text-align: center;
    width: 100%;
    color: #FF005A;
    font-family: 'Roboto Mono', monospace;
    /* text-transform: uppercase; */
}

#mastermind>article>button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2rem;
    background-color: #FF005A;
    border: transparent;
    border-radius: 0.2em;
    margin: 1em;
    color: #ffffff;
    text-transform: uppercase;
}

#mastermind>article>*>button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    height: 2rem;
    background-color: #FF005A;
    border: transparent;
    border-radius: 0.2em;
    margin: 1em;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace;
}

#mastermind>article>*>#code {
    /* border: solid 1px white; */
    display: flex;
    flex-wrap: wrap;
}

#mastermind>article>*>#code>input {
    background-color: #0C002B;
    height: 2rem;
    width: 3rem;
    margin: 0.5em;
    border: solid 1px;
    border-color: #FF005A;
    border-radius: 0.2em;
    color: #ffffff;
    text-indent: 1.2rem;
    font-family: 'Roboto Mono', monospace;
}

#mastermind>article>*>#code>input::placeholder {
    color: #ffccde;
}

#mastermind>article>button {
    height: 2rem;
    background-color: #FF005A;
    border: transparent;
    border-radius: 0.2em;
    margin: 1em;
    width: 200px;
}

#mastermind>#console {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: #000000;
    color: #00FFBC;
    border-color: #00FFBC;
}

#mastermind>#console>* {
    /* border: solid 1px white; */
    width: 100%;
    margin-bottom: 2em;
    justify-content: flex-start;
    margin: 1em;
    color: #00FFBC;
}

#mastermind>#console>#displayCheat {
    color: #FF005A;
}
